/*
#12372A - PRINCIPAL
rgb(18, 55, 42)

#436850 - SECUNDARIA
rgb(67, 104, 80)

#ADBC9F - PRINCIPAL CLARA
rgb(173, 188, 159)

#FBFADA - SEGUNDARIA CLARA
rgb(251, 250, 218)
*/

html {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden; /* Oculta a rolagem horizontal */
    overflow-y: auto; /* Habilita a rolagem vertical conforme necessário */
}

#app {
    width: 100%;
}

#content {
    /*min-width: 86.7vw; */
    /*max-width: 88vw;*/
    height: 100vh;
}

body {
    display:flex;
}

/* NAVBAR */
#main-navbar {
    padding-left: 20px;
    padding-right: 20px;
    background-color: #12372A;
    height: 4vh;
}

#sidemenu {
    background-color: #ADBC9F; 
    max-width: 12vw;
    min-width: 200px;
    padding :30px !important;
}

/* NAVBAR OBJECT */
.navbar-object {
    background-color: #436850;
}

.nav-action-link {
    color: #FBFADA !important;
}

.nav-action-link-active {
    font-weight: bold !important;
}

/* Estilo padrão do item do menu */
.nav-link-side {
    transition: background-color 0.3s ease; /* Transição suave da cor de fundo */
}

/* Quando o mouse estiver sobre o item do menu */
.nav-link-side:hover {
    background-color: #436850; /* Cor de fundo ao passar o mouse */
    color: #FBFADA!important; /* Cor do texto ao passar o mouse */
}

.nav-active-sidemenu {
    background-color: #FBFADA !important;
}

.nav-link {
    color: #FBFADA !important;
}

.nav-link-selected {
    font-weight: bold !important;
}

#container {
    background-color: #FBFADA;
    height: 100vh !important;
}   

.container {
    padding: 15px 25px 15px 25px !important;
}

/* side menu logo */
.logo-side-menu-container {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: flex-start; /* Alinha no topo */
    height: 120px; /* Ajuste a altura conforme necessário */
    padding-top: 20px; /* Ajuste o espaçamento superior conforme necessário */
}

.logo-side-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
}

.logo-side-menu img {
    width: 75px;
}

/* BOOTSTRAP CLASSES*/

/* CARDS */
.card-header {
    background-color: #ADBC9F !important;
}

/* NAV LINKS */ 
.nav-link.active {
    background-color: #12372A !important;
    color: #FBFADA !important;
}

.nav-link-side {
    color: #12372A !important; 
} 

/* BUTTOM */
.btn-primary {
    background-color: #12372A !important;
    color: #FBFADA !important;
}

/* LOGIN PAGE */
#login-page {
    height: 96.27vh; /* Define a altura da página para ocupar a altura total da viewport */
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
}

#login-form {
    background-color: #FBFADA;
    color: #12372A;
}

.card-body-login {
    padding:45px 0px 45px 0px !important;
}

/* PER ROTE */
.content-login, .content-register, .content-password-request, .content-password-request {
    background-color: #12372A;
}

#card-create-task {
    margin-top: 100px;
    background-color: #ADBC9F;
}

/* TASK INDEX */
/* Search field */
.search-container {
    display: flex;
    align-items: center; /* Centraliza verticalmente os itens */
}

.search-container input {
    flex: 1; /* Ocupa todo o espaço disponível */
    margin-right: 5px; /* Adiciona um espaço entre o campo de pesquisa e o botão */
}

#form-search {
    padding-left: 0px !important;
}

.form-input {
    box-sizing: border-box;
}

.bold {
    font-weight: bold !important;
}

/* genericas  */
.flex-grow-1 {
    flex-grow: 1;
}

.margin-auto {
    margin:auto;
}
.d-flex {
    display:flex;
}



.no-pad {
    padding: 0px 0px 0px 0px !important;
}

.margin-top30 {
    margin-top: 30px;
}

.margin-top250 {
    margin-top: 250px;
}

/* login page */ 
.link-login-recover-pass {
    text-align: end;
}

.btn-login-container {
    display: flex;
}

/* TASK INDEX */
/* Search field */
.search-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.search-container input {
    flex: 1;
    margin-right: 10px;
}

.search-container button {
    flex-shrink: 0; /* Evita que o botão encolha demais em resoluções menores */
}

.col-md-9.no-pad {
    display: flex; /* Torna a div pai um contêiner flexível */
    flex-wrap: wrap; /* Permite que os elementos filhos quebrem para a próxima linha conforme necessário */
}

.col-md-9.no-pad > * {
    flex: 1 1 auto; /* Define os elementos filhos para que cresçam e encolham conforme necessário, mas mantenham sua largura máxima igual ao tamanho do contêiner pai */
    max-width: 100%; /* Define a largura máxima dos elementos filhos igual à largura do contêiner pai */
    box-sizing: border-box; /* Garante que a largura dos elementos filhos inclua padding e bordas */
}